page-login {
    .scroll-content {
        margin-top: 0px !important;
    }

    .lotto-logo {
        width: 100%;
        height: 250px;
        display: flex;
    }

    .lotto-img {
        margin: auto;
    }

    .list {
        width: 50%;
        margin: auto;
    }
}
