page-result {

    ion-row.headersplit {
        max-height: 17px;
    }
    
    .dot {
        height: 15px;
        width: 15px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        font-size: 12px;
        background: red;
    }   
    
    .list-white{
        color: white;
        background-color: transparent; 
        font-size: 1.2rem;
        font-weight: 500;
        padding-left: 0px;
    }
    
    #circle-badge {
            background-color: red;
            border-radius: 50%;
            padding-top: 4px;
            padding-bottom: 4px;
            margin-left: 2%;
    }
    
    ion-note{
        color: #38b34b !important;
        font-weight: 800 !important;
    }
}
