page-mybet {
    .pagination-bar {
        width: 100% !important;
        flex-wrap: wrap;
        display: -webkit-flex; /* Safari */
        display: flex;
        padding: 5px 10px !important;
        text-align: center;

        button {
            height:25px;
        }

        .flex-2 {
            -webkit-flex: 2;  /* Safari 6.1+ */
            -ms-flex: 2;  /* IE 10 */    
            flex: 2;
        }

        .flex-1 {
            -webkit-flex: 1;  /* Safari 6.1+ */
            -ms-flex: 1;  /* IE 10 */    
            flex: 1;
        }

        .font-white {
            color: white;
        }

        font-black {
            color: black;
        }

        .back-light {
            background-color: #bcbcbc;
        }

        .back-dark {
            background-color: #979797;
        }

        .first-page {
            border-radius: 5px 0 0 5px;
        }

        .last-page {
            border-radius: 0 5px 5px 0;
        }
    }
    ion-col {
        text-align: center;
        padding-top: 5%;
    }

    p.header-text {
        margin: 0;
        font-size: 12px;
    }

    ion-row.headersplit {
        max-height: 17px;
    }

    div.userinfo {
        padding: 10px;
        width: 100%;
        height: 20%;
    }

    div.userinfo p {
        color: #ffffff;
        margin: 0px;
        font-size: 18px;
    }

    div.userinfo div.userdetail {
        float: left;
        width: 80%;
        height: 100%;
        padding-left: 10px;
    }

    div.userinfo div.userimage {
        float: left;
        width: 20%;
        height: 100%;
    }

    tr {
        height: 30px;
        background-color: #062238;
    }

    td, th {
        color: #ffffff;
        padding-left: 0px;
        background-color: #062238;
    }

    div.item-inner {
        padding-left: 20px;
    }
    
    .text-left{
        text-align: left !important;
    }
     .text-right{
        text-align: right !important;
    }
    
    .p-r-5{
        padding-right: 1px !important;
    }
    
    .p-b-5{
        padding-bottom: 5px !important;
    }
    
    ion-col p{
        font-size: 10px !important; 
        font-weight: 600;
        color: white !important;
    }
    
    p span{
        color: #c01e2d !important;
    }
    
    .button[icon-only] {
        border-radius: 2px;
        overflow: hidden;
        height: 2rem;
        width: 2rem;
        font-size: 1rem;
    }
    
    .m-top-4{
        margin-top: -4px;
    }
    .m-top-12{
        margin-top: -10px;
    }
    
    .normal-button{
        overflow: visible;
        background: #60abd5;
        color: white;
    }
    .blue-button{
        overflow: visible;
        background: #0e3868;
        color: white;
    }
    
    .button-md {
        border-radius: 2px;
        overflow: hidden;
        height: 2rem;
        font-size: 1rem;   
    }
    
    .header-back-bg{
        background-image: url("../../assets/imgs/ui/split-bar.png");
    }
}
