<ion-header>
    <ion-grid style="padding: 0">
        <ion-row>
            <ion-col col-2><img *ngIf="isloggingin == true" width="30" src="../../assets/imgs/ui/top-icon-user.png"><p *ngIf="isloggingin == true" class="header-text">{{ user['name'] }}</p>
            </ion-col>
            <ion-col col-2><img *ngIf="isloggingin == true" width="30" src="../../assets/imgs/ui/top-icon-credit.png"><p *ngIf="isloggingin == true" class="header-text">MYR {{ user['amount'] }}</p>
            </ion-col>
            <ion-col width-50 col-4 class="lotto"><img width="150" src="../../assets/imgs/ui/lotto-logo.png"></ion-col>
            <ion-col col-2><img width="30" src="../../assets/imgs/ui/top-icon-rules.png"><p class="header-text">Game Rules</p>
            </ion-col>
            <ng-container *ngIf=" isloggingin; then loggedIn; else loggedOut" >
            </ng-container>
            <ion-col *ngIf="isloggingin == true" col-2><div (click)="signout()"><img width="30" src="../../assets/imgs/ui/top-icon-sign.png"><p class="header-text">
                Sign Out
            </p></div>
            </ion-col>
            <ion-col *ngIf="isloggingin == false" col-2><div (click)="signin()"><img width="30" src="../../assets/imgs/ui/top-icon-sign.png"><p class="header-text">
                Sign In
            </p></div>
            </ion-col>
        </ion-row>
        <ion-row class="headersplit">
            <img src="../../assets/imgs/ui/split-bar.png" />
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content class="buttons-components-page" style="padding: 0">
    <ion-grid style="padding: 0">
        <ion-row style="font-size: 10px; color: white;border: 1px solid #368fe8;border-left: 0;border-right: 0;">
            <ion-col col-4 class="col_1_2"><span *ngIf="roundlastinfo">{{ this.roundlastdate }} {{ this.roundlastinfo['name'] }}</span></ion-col>
            <ion-col col-4 class="col_1_2"><span *ngIf="roundcurrentinfo">{{ this.roundcurrentdate }} {{ this.roundcurrentinfo['roundname'] }}</span></ion-col>
            <ion-col col-4 class="col_3">
                PASSED RESULT DRAWING NUMBER
            </ion-col>
            <ion-col col-4 style="border-right: 1px solid #368fe8;">
                <p class="closeTime">Closed time : <span *ngIf="roundlastinfo">{{ this.lastcloseddate }}</span></p>
                <ion-row>
                    <ion-col col-4 style="margin-top: 5px;">LEFT</ion-col>
                    <ion-col col-3><img src="../../assets/imgs/ui/timer.png" /></ion-col>
                    <ion-col col-5 style="font-size: 09px; margin-top: 5px;"><strong *ngIf="roundcurrentinfo">{{ this.lefthours }}:{{ this.leftminutes }}:{{ this.leftseconds}}</strong></ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-4 style="border-right: 1px solid #368fe8;">
                <ion-row>
                    <ion-col col-6 class="part1">
                        <p style="font-size: x-large;color: black;margin-top: 15%;"><strong *ngIf="roundcurrentinfo">{{ this.leftshowone }}</strong></p>
                    </ion-col>
                    <ion-col col-6 class="part2">
                        <p style="font-size: x-large;color: black;margin-top: 15%;"><strong *ngIf="roundcurrentinfo">{{ this.leftshowtwo }}</strong></p>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-4>
                <ion-row style="overflow: auto;height: 100px">
                    <ion-col *ngIf="this.passedrounds">
                        <ion-row *ngFor="let passedround of this.passedrounds;">
                            <ion-col col-7>
                                {{ passedround['name'] }}
                            </ion-col>
                            <ion-col col-5>
                                <ion-row>
                                    <ion-col col-6><span class="dot">{{ passedround['first'] }}</span> </ion-col>
                                    <ion-col col-6><span class="dot">{{ passedround['second'] }}</span></ion-col>
                                </ion-row>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-12 style="background: url('../../assets/imgs/ui/split-bar.png');height: 17px;background-size: 100%"></ion-col>
        </ion-row>
        <div style="background: #052238;padding-bottom: 15px;">
            <ul class="min_max">
                <li>Min - 1</li>
                <li>Max - 2000</li>
            </ul>
            <ion-row>
                <ion-col col-1 class="zero">0</ion-col>
                <ion-col col-11 style="padding: 0">
                    <ion-row>
                        <ion-col class="cell" col-1 *ngFor="let item of table;" [ngStyle]="{background:item.color}">
                            {{ item.no }}
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-1>&nbsp;</ion-col>
                <ion-col col-11 style="padding: 0">
                    <ion-row>
                        <ion-col col-4 class="cellBlue">1st 12</ion-col>
                        <ion-col col-4 class="cellBlue">2nd 12</ion-col>
                        <ion-col col-4 class="cellBlue">3rd 12</ion-col>

                        <ion-col no-padding col-4 class="">
                            <ion-row>
                                <ion-col col-6 class="cellBlue">1-18</ion-col>
                                <ion-col col-6 class="cellBlue">EVEN</ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col no-padding col-4 class="">
                            <ion-row>
                                <ion-col col-6 class="cellBlue" style="background-color: #1b1623">&nbsp;</ion-col>
                                <ion-col col-6 class="cellBlue" style="background-color: red">&nbsp;</ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col no-padding col-4 class="">
                            <ion-row>
                                <ion-col col-6 class="cellBlue">ODD</ion-col>
                                <ion-col col-6 class="cellBlue">19-36</ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-8 offset-2>
                    <ul class="coins">
                        <li><img [attr.width]="30" src="../../assets/imgs/ui/coins_1.png"></li>
                        <li><img [attr.width]="30" src="../../assets/imgs/ui/coins_2.png"></li>
                        <li><img [attr.width]="30" src="../../assets/imgs/ui/coins_3.png"></li>
                        <li><img [attr.width]="30" src="../../assets/imgs/ui/coins_4.png"></li>
                        <li><img [attr.width]="30" src="../../assets/imgs/ui/coins_5.png"></li>
                        <li><img [attr.width]="30" src="../../assets/imgs/ui/coins_6.png"></li>
                        <li><img [attr.width]="30" src="../../assets/imgs/ui/coins_7.png"></li>
                    </ul>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3 offset-3 class="cellBlue">REBET</ion-col>
                <ion-col col-3 class="cellBlue">BET NOW</ion-col>
            </ion-row>
        </div>
        <ion-row style="background: url('../../assets/imgs/ui/split-bar.png');background-size: 100% 100%;">
            <ion-col col-12 style="color:white">Total Bet: MYR {{ this.totalbet }}</ion-col>
        </ion-row>
</ion-grid>
</ion-content>