<ion-header>
    <ion-grid>
        <ion-row>
            <ion-col col-2><img *ngIf="isloggingin == true" width="30" src="../../assets/imgs/ui/top-icon-user.png"><p *ngIf="isloggingin == true" class="header-text">{{ user['name'] }}</p>
            </ion-col>
            <ion-col col-2><img *ngIf="isloggingin == true" width="30" src="../../assets/imgs/ui/top-icon-credit.png"><p *ngIf="isloggingin == true" class="header-text">MYR {{ user['amount'] }}</p>
            </ion-col>
            <ion-col width-50 col-4 class="lotto"><img width="150" src="../../assets/imgs/ui/lotto-logo.png"></ion-col>
            <ion-col col-2><img width="30" src="../../assets/imgs/ui/top-icon-rules.png"><p class="header-text">Game Rules</p>
            </ion-col>
            <ng-container *ngIf=" isloggingin; then loggedIn; else loggedOut" >
            </ng-container>
            <ion-col *ngIf="isloggingin == true" col-2><div (click)="signout()"><img width="30" src="../../assets/imgs/ui/top-icon-sign.png"><p class="header-text">
                Sign Out
            </p></div>
            </ion-col>
            <ion-col *ngIf="isloggingin == false" col-2><div (click)="signin()"><img width="30" src="../../assets/imgs/ui/top-icon-sign.png"><p class="header-text">
                Sign In
            </p></div>
            </ion-col>
        </ion-row>
        <ion-row class="headersplit">
            <img src="../../assets/imgs/ui/split-bar.png" />
        </ion-row>
    </ion-grid>
</ion-header>

<ion-content>
  <div class="userinfo">
      <div class="userimage">
          <img src="../../assets/imgs/ui/unknownuser.png" />
      </div>
      <div class="userdetail">
          <p>
              {{ user['email'] }}
          </p>
          <p>
              {{ user['phoneno'] }}
          </p>
      </div>
  </div>
  <table style="border-color: #4576b8;width: 100%;" border="1">
      <tbody>
          <tr>
              <td (click)="clickReport();" ion-item style="background-color: #062238; color:white; padding: 0;">Report</td>
          </tr>
          <tr>
              <td (click)="clickCustomer();" ion-item style="background-color: #062238; color:white; padding: 0;">Customer services</td>
          </tr>
          <tr>
              <td (click)="clickEditPass();" ion-item style="background-color: #062238; color:white; padding: 0;">Edit Password</td>
          </tr>
      </tbody>
  </table>
</ion-content>
